.input-block-label {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 24px;
}

.input-block-label-left {
  font-size: var(--font-size-xs);
  color: var(--color-text-secondary);
  font-weight: var(--font-weight-medium);
  letter-spacing: -0.012em;
}

.input-block-label-right {
  display: flex;
  align-items: center;
  opacity: 0; /* Hide buttons by default */
  transition: opacity var(--transition-fast); /* Smooth transition */
}
