/* Navigation styles */
.navigation {
  height: 44px;
  display: flex;
  background-color: var(--color-background-primary);
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
}

.navigation-left {
  display: flex;
  flex: 1;
  gap: 8px;
}

.navigation-right {
  display: flex;
}
